In [1]:
import pandas as pd
from pandas import json_normalize


data = {
    "employees": [
        {
            "name": "John",
            "age": 30,
            "department": {
                "name": "HR",
                "location": "New York"
            }
        },
        {
            "name": "Jane",
            "age": 25,
            "department": {
                "name": "Finance",
                "location": "London"
            }
        },
        {
            "name": "Mike",
            "age": 35,
            "department": {
                "name": "IT",
                "location": "San Francisco"
            }
        }
    ]
}


df = json_normalize(data, record_path='employees', meta=[])


print(df)

   name  age department.name department.location
0  John   30              HR            New York
1  Jane   25         Finance              London
2  Mike   35              IT       San Francisco